<!-- Main Container  -->
<div class="main-container container" *ngIf="product && product._id">
  <ul class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i></a></li>
    <li><a href="#">Smartphone & Tablets</a></li>
    <li><a href="#">Chicken swinesha</a></li>
  </ul>

  <div class="row">

    <!--Middle Part Start-->
    <div id="content" class="col-md-9 col-sm-8">

      <div class="product-view">
        <div class="left-content-product">
          <div class="row">
            <div class="content-product-left col-md-6 col-sm-12 col-xs-12">
              <div id="thumb-slider-vertical" class="thumb-vertical-outer">
                <ul class="thumb-vertical">
                  <li class="owl2-item" *ngFor="let image of product.images">
                    <a data-index="0" class="img thumbnail">
                      <img [src]="image" [alt]="product.name">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="large-image  vertical">
                <img itemprop="image" class="product-image-zoom" [src]="product.images[0]" [title]="product.name" alt=""/>
              </div>
            </div>

            <div class="content-product-right col-md-6 col-sm-12 col-xs-12">
              <div class="title-product">
                <h1>{{product.name}}</h1>
              </div>
              <!-- Review ---->
              <div class="box-review form-group">
                <a class="reviews_button" href=""
                   onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 reviews</a> |
                <a class="write_review_button" href=""
                   onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a review</a>
              </div>

              <div class="product-label form-group">
                <div class="product_page_price price">
                  <span class="price-new" itemprop="price">$114.00</span>
                  <span class="price-old">$122.00</span>
                </div>
              </div>

              <div id="product">
                <h4>Available Options</h4>

                <div class="form-group box-info-product">
                  <div class="option quantity">
                    <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                      <label>Qty</label>
                      <input class="form-control" type="text" name="quantity"
                             value="1">
                      <input type="hidden" name="product_id" value="50">
                      <span class="input-group-addon product_quantity_down">−</span>
                      <span class="input-group-addon product_quantity_up">+</span>
                    </div>
                  </div>
                  <div class="cart">
                    <input type="button" data-toggle="tooltip" title="" value="Add to Cart"
                           data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg"
                           onclick="cart.add('42', '1');" data-original-title="Add to Cart">
                  </div>
                </div>

              </div>
              <!-- end box info product -->

            </div>
          </div>
        </div>


      </div>

      <!-- Product Tabs -->
      <div class="producttab ">
        <div class="tabsslider horizontal-tabs  col-xs-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">Description</a></li>
          </ul>
          <div class="tab-content col-xs-12">
            <div id="tab-1" class="tab-pane fade active in">{{product.description}}</div>
          </div>
        </div>
      </div>
      <!-- //Product Tabs -->

      <!-- Related Products -->
      <div class="related titleLine products-list grid module ">
        <h3 class="modtitle">Related Products </h3>

        <div class="releate-products yt-content-slider products-list" data-rtl="no" data-loop="yes" data-autoplay="no"
             data-autoheight="no" data-autowidth="no" data-delay="4" data-speed="0.6" data-margin="30"
             data-items_column0="5" data-items_column1="3" data-items_column2="3" data-items_column3="2"
             data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-hoverpause="yes">
          <div class="item">
            <div class="item-inner product-layout transition product-grid">
              <div class="product-item-container">
                <div class="left-block">
                  <div class="product-image-container second_img">
                    <a href="product.html" target="_self" title="Pastrami bacon">
                      <img src="image/catalog/demo/product/320/1.jpg" class="img-1 img-responsive" alt="Pastrami bacon">
                      <img src="image/catalog/demo/product/320/10.jpg" class="img-2 img-responsive"
                           alt="Pastrami bacon">
                    </a>
                  </div>

                  <div class="button-group so-quickview cartinfo--left">
                    <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');"><i
                      class="fa fa-shopping-basket"></i>
                      <span>Add to cart </span>
                    </button>
                    <button type="button" class="wishlist btn-button" title="Add to Wish List"
                            onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                    </button>
                    <button type="button" class="compare btn-button" title="Compare this Product "
                            onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                    </button>
                    <!--quickview-->
                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html"
                       title="Quick view" data-fancybox-type="iframe"><i
                      class="fa fa-eye"></i><span>Quick view</span></a>
                    <!--end quickview-->
                  </div>
                </div>
                <div class="right-block">
                  <div class="caption">

                    <div class="rating"><span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                    </div>
                    <h4><a href="product.html" title="Pastrami bacon" target="_self">Pastrami bacon</a></h4>
                    <div class="price">$42.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end Related  Products-->


    </div>
    <!--Middle Part End-->
  </div>

</div>
<!--<div></div>-->
<!-- //Main Container -->
