<ul class="breadcrumb">
  <li><a href="#"><i class="fa fa-home"></i></a></li>
  <li><a href="#">Account</a></li>
  <li><a href="#">My Account</a></li>
</ul>

<div class="row">
  <div class="col-sm-9" id="content">

    <div class="col-sm-9">
      <!--Tabs Part Start-->
      <h2 class="text-uppercase">{{order.user.name}}</h2>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1"> Order History</a>
        </li>

      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-1">

          <div class="modal-body">

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Order ID</th>
                  <th>Name</th>
                  <th>Order Date</th>
                  <th>Status</th>
                  <th>Total</th>
                  <!--<th>Country</th>-->
                </tr>
                </thead>

                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>{{order._id}}</td>
                  <td>{{order.user.name}}</td>
                  <td> {{order.orderDate}}</td>
                  <td> {{order.status}}</td>
                  <td> {{order.total}}</td>

                </tr>

                </tbody>
              </table>
            </div>

          </div>


        </div>





      </div>

      <!--Tabs Part End-->
    </div>

  </div>

  <app-admin-sidebar></app-admin-sidebar>
</div>
<br/>
