<div id="content">
  <div class="row">
    <app-sidebar [latest]="latest"></app-sidebar>

    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 main-right">
      <!-- Deals -->
      <div class="module deals-layout1">
        <h3 class="modtitle"><span>Trending on eMarket</span></h3>
        <div class="modcontent">
          <div id="so_deal_1" class="so-deal style2">
            <div class="extraslider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="no"
                 data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="2"
                 data-items_column1="1" data-items_column2="1" data-items_column3="1" data-items_column4="1"
                 data-arrows="yes" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
              <div class="item col-md-4" *ngFor="let prod of recommended">
                <div class="product-thumb">
                  <div class="row">
                    <div class="inner">
                      <div class="item-left col-lg-6 col-md-5 col-sm-5 col-xs-12">
                        <div class="image">
                          <a [routerLink]="['product',prod.slug]" [title]="prod.name">
                            <img [src]="prod.images? prod.images[0]:'image/catalog/demo/product/320/1.jpg'" [alt]="prod.name"
                                 class="img-responsive">
                          </a>
                        </div>
                      </div>
                      <div class="item-right col-lg-6 col-md-7 col-sm-7 col-xs-12">
                        <div class="caption">
                          <h4>
                            <a [routerLink]="['product',prod.slug]" target="_self"
                               [title]="prod.name">{{prod.name}}</a>
                          </h4>
                          <p class="price">
                            <span>starts at: </span>
                            <span class="price-new">${{prod.basePrice|number:'1.2-2'}}</span>
                          </p>
                          <p class="desc">{{(prod.description || '').substr(100)}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Deals -->
    </div>
  </div>
</div>

