<ul class="breadcrumb">
  <li><a href="#"><i class="fa fa-home"></i></a></li>
  <li><a href="#">Account</a></li>
  <li><a href="#">My Account</a></li>
</ul>

<div class="row">
  <!--Middle Part Start-->
  <div class="col-sm-9" id="content">

    <h4 class="text-uppercase">Coupons Table</h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Aaron</td>
          <td>Seth</td>
          <td>@aaron</td>
          <td><span class="input-group-btn">
            <button type="button" data-toggle="tooltip" title="View" class="btn btn-success"><i class="fa fa-clone" (click)="viewCoupon(viewCouponTemplate)"></i></button>
            <button type="button" data-toggle="tooltip" title="Update" class="btn info"><i class="fas fa-edit"></i></button>
            <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-danger" onClick=""><i class="fa fa-times-circle"></i></button>
                        </span></td>
        </tr>


        </tbody>
      </table>
    </div>
  </div>



  <app-admin-sidebar></app-admin-sidebar>
</div>
<br/>
<ng-template #viewCouponTemplate>
  <div class="modal-header">
    <h3>View a coupon</h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer"></div>
</ng-template>

