<ul class="breadcrumb">
  <li><a href="#"><i class="fa fa-home"></i></a></li>
  <li><a href="#">Account</a></li>
  <li><a href="#">My Account</a></li>
</ul>

<div class="row">
  <!--Middle Part Start-->
  <div class="col-sm-9" id="content">
    <div class="block full">
      <div class="block-title">
        <button class="btn btn-success" (click)="couponForm(couponFormTemplate)">Add Coupon</button>
      </div>
      <br>

    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Aaron</td>
          <td>Seth</td>
          <td>@aaron</td>
          <td><span class="input-group-btn">
            <button type="button" data-toggle="tooltip" title="View" class="btn btn-success"><i class="fa fa-clone"
                                                                                                (click)="viewCoupon(viewCouponTemplate)"></i></button>
            <button type="button" data-toggle="tooltip" title="Update" class="btn btn-info"
                    (click)="couponForm(couponFormTemplate, coupon)"><i class="fa fa-pencil"></i></button>
            <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-danger" onClick=""><i
              class="fa fa-times-circle"></i></button>
                        </span></td>
        </tr>


        </tbody>
      </table>
    </div>
  </div>


  <app-admin-sidebar></app-admin-sidebar>
</div>
<br/>
<ng-template #viewCouponTemplate>
  <div class="modal-header">
    <h3>View a coupon</h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer"></div>
</ng-template>


<ng-template #couponFormTemplate>
  <div class="modal-header mfp-close-btn-in">
    <h2 class="modal-title title">Add a coupon</h2>
    <button type="button" class="mfp-close" (click)="addCoupon()">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form formGroup>
        <div class="form-group">

          <label class="col-md-4 control-label" for="code">Code</label>
          <div class="col-md-8">
            <input type="text" id="code" name="code" class="form-control" placeholder="Enter name"
                   [formControlName]="coupon.code"/><br>


          </div>
          <label class="col-md-4 control-label" for="discount-type">Discount Type</label>
          <div class="col-md-8">
            <input type="text" id="discount-type" name="discount-type" class="form-control"
                   placeholder="Enter Discount Type"
                   [formControlName]="coupon.discountType"/><br>
          </div>
          <label class="col-md-4 control-label" for="discount-amount">Discount Amount</label>
          <div class="col-md-8">
            <input type="text" id="discount-amount" name="discount-amount" class="form-control"
                   placeholder="Enter Discount Amount"
                   [formControlName]="coupon.discountAmount"/><br>


          </div>

          <label class="col-md-4 control-label" for="discount-amount">Start Date</label>
          <div class="col-md-8">
            <input type="text" id="start-date" name="start-date" class="form-control" placeholder="Enter Start Date"
                   [formControlName]="coupon.startDate"/><br>


          </div>

          <label class="col-md-4 control-label" for="end-date">End Date </label>
          <div class="col-md-8">
            <input type="text" id="end-date" name="end-date" class="form-control" placeholder="Enter End Date"
                   [formControlName]="coupon.endDate"/><br>
          </div>


          <label class="col-md-4 control-label" for="minimum-cost">Minimum Cost</label>
          <div class="col-md-8">
            <input type="text" id="minimum-cost" name="minimum-cost" class="form-control"
                   placeholder="Enter Minimum Cost"
                   [formControlName]="coupon.minimumCost"/><br>
          </div>

          <label class="col-md-4 control-label" for="maximum-cost">Maximum Cost</label>
          <div class="col-md-8">
            <input type="text" id="maximum-cost" name="maximum-cost" class="form-control"
                   placeholder="Enter Maximum Cost"
                   [formControlName]="coupon.maximumCost"/><br>
          </div>

          <label class="col-md-4 control-label" for="maximum-cost">Status</label>
          <div class="col-md-3">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="defaultCheckedDisabled1" name="disabledGroupExample">
              <label class="custom-control-label" for="defaultCheckedDisabled2">Enable</label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="defaultCheckedDisabled2" name="disabledGroupExample"
                     checked>
              <label class="custom-control-label" for="defaultCheckedDisabled2">Disable</label>
            </div>
          </div>


        </div>


      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-danger" (click)="categoryForm(categoryFormTemplate)">Cancel</button>

  </div>
</ng-template>






