
<ul class="breadcrumb">
  <li><a href="#"><i class="fa fa-home"></i></a></li>
  <li><a href="#">Payment Methods</a></li>
</ul>

<div class="row">
  <!--Middle Part Start-->
  <div id="content" class="col-sm-9">

    <table  class="table">
      <tr>
        <td class="text-left">
          <h2 class="title">Payment Methods</h2>
        </td>

        <td class="text-right">
          <a href="product.html">Add Payment</a>
        </td>
      </tr>
    </table>


    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <td class="text-center">Card No</td>
          <td class="text-center">Card Type</td>
          <td class="text-center">Expire on</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let card of payments">

          <td class="text-center">{{card.card.last4}}</td>
          <td class="text-center">{{card.card.brand}}</td>
          <td class="text-center">{{card.card.exp_month}} / {{card.card.exp_year}}</td>
          <td class="text-center">
            <button class="btn btn-info" (click)="paymentMethodForm(paymentMethodForm,card)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-info" (click)="deletePaymentMethod(card)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!--Middle Part End-->
  <!--Right Part Start -->
  <app-account-sidebar></app-account-sidebar>
  <!--Right Part End -->
</div>
<br/>

