<aside class="col-sm-3 hidden-xs" id="column-right">
  <h2 class="subtitle">Quick links</h2>
  <div class="list-group">
    <ul class="list-item">
      <li>
        <a [routerLink]="links.myAccount">Personal Information</a>
      </li>
      <li>
        <a [routerLink]="links.addressBooks">Address Books</a>
      </li>
      <li>
        <a [routerLink]="links.paymentmethods">Payment Methods</a>
      </li>
      <li>
        <a [routerLink]="links.orderHistory">Order History</a>
      </li>

    </ul>
  </div>
</aside>


