
<ul class="breadcrumb">
  <li><a href="#"><i class="fa fa-home"></i></a></li>
  <li><a href="#">Order History</a></li>
</ul>

<div class="row">
  <!--Middle Part Start-->
  <div id="content" class="col-sm-9">

    <table  class="table">
      <tr>
        <td class="text-left">
          <h2 class="title">Addresses</h2>
        </td>

        <td class="text-right">
          <button class="btn btn-success" (click)="addressForm(addressFormTemplate)">Add Address</button>
        </td>
      </tr>
    </table>




    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <td class="text-center">Address</td>
          <td class="text-left">Zip Code</td>
          <td class="text-center">City</td>
          <td class="text-center">State</td>
          <td class="text-center">Country</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">
             Address 1
          </td>
          <td class="text-center">  52557
          </td>
          <td class="text-center">Fairfield</td>
          <td class="text-center">IOWA</td>
          <td class="text-center">USA</td>

          <td class="text-center"><a class="btn btn-info" title="" data-toggle="tooltip" href="order-information.html" data-original-title="View"><i class="fa fa-eye"></i>   <i class="fa fa-trash-o"></i> </a>
          </td>


        </tr>
        <tr>
          <td class="text-center">
            Address 2
          </td>
          <td class="text-center">  52557
          </td>
          <td class="text-center">Fairfield</td>
          <td class="text-center">IOWA</td>
          <td class="text-center">USA</td>

          <td class="text-center"><a class="btn btn-info" title="" data-toggle="tooltip" href="order-information.html" data-original-title="View"><i class="fa fa-eye"></i>   <i class="fa fa-trash-o"></i> </a>
          </td>


        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!--Middle Part End-->
  <!--Right Part Start -->

<app-account-sidebar> </app-account-sidebar>


  <!--Right Part End -->
</div>
<br/>

<ng-template #addressFormTemplate>
  <div class="modal-header mfp-close-btn-in">
    <h2 class="modal-title title">Add a category</h2>
    <button type="button" class="mfp-close" (click)="cancel()">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="form">


        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Address</label>
          <div class="col-md-8">
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Address"
                   [formControlName]="'Address'"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Address 2</label>
          <div class="col-md-8">
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Address 2"
                   [formControlName]="'name'"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="name">City</label>
          <div class="col-md-8">
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter City"
                   [formControlName]="''"/>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label" for="name">State</label>
          <div class="col-md-8">
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter City"
                   [formControlName]="''"/>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Zip Code</label>
          <div class="col-md-8">
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter City"
                   [formControlName]="''"/>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Country</label>
          <div class="col-md-8">
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter City"
                   [formControlName]="''"/>
          </div>
        </div>



<input type="submit" name="save" id ="save" value ="Save">

        <div class="form-group"></div>
      </form>
    </div>
  </div>
  <div class="modal-footer">



  </div>
</ng-template>

