<ul class="breadcrumb">
  <li><a href="#"><i class="fa fa-home"></i></a></li>
  <li><a href="#">Admin</a></li>
  <li><a  [routerLink]="['/', 'admin', 'users']">User Detail</a></li>
</ul>

<div class="row">
  <div class="col-sm-9" id="content">

    <div class="col-sm-8">
      <!--Tabs Part Start-->
      <h2 class="text-uppercase"> {{user.name}} Information</h2>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1">Profile</a>
        </li>
        <!--<li><a data-toggle="tab" href="#tab-2">Payment Methods</a>-->
        <!--</li>-->
        <li><a data-toggle="tab" href="#tab-3">Addresses</a>
        </li>
        <!--<li><a data-toggle="tab" href="#tab-3">Order History</a>-->
        <!--</li>-->
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-1">

          <div class="modal-body">

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <!--<th>Country</th>-->
                </tr>
                </thead>

                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td> {{user.mobile}}</td>
                  <!--<td> {{user.addresses[0].country}}</td>-->

                </tr>

                </tbody>
              </table>
            </div>

          </div>


        </div>

        <div class="tab-pane" id="tab-3">

          <div class="modal-body">

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>

                  <th>#</th>
                  <th>Street</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Zip</th>
                  <th>Country</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let u of user.addresses">
                  <!--<tr >-->
                  <th scope="row">1</th>
                  <td>{{u.address2}}</td>
                  <td>{{u.city}}</td>
                  <td>{{u.state}}</td>
                  <td>{{u.zipcode}}</td>
                  <td>{{u.country}}</td>

                </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>




      </div>

      <!--Tabs Part End-->
    </div>

  </div>

  <app-admin-sidebar></app-admin-sidebar>
</div>
<br/>
