<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 main-left sidebar-offcanvas">
  <div class="module col1 hidden-sm hidden-xs"></div>
  <div class="module">
    <div class="banners banners2">
      <div class="banner">
        <a href="#"><img src="image/catalog/banners/banner4.jpg" alt="image"></a>
      </div>
    </div>
  </div>

  <div class="module product-simple">
    <h3 class="modtitle">
      <span>Latest products</span>
    </h3>
    <div class="modcontent">
      <div id="so_extra_slider_1" class="extraslider">
        <!-- Begin extraslider-inner -->
        <div class="yt-content-slider extraslider-inner" data-rtl="yes" data-pagination="yes" data-autoplay="no"
             data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
             data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="no"
             data-lazyload="yes" data-loop="no" data-buttonpage="top">
          <div class="item ">
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Mandouille short ">
                    <img src="image/catalog/demo/product/80/1.jpg" alt="Mandouille short">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Mandouille short">Mandouille short </a>
                </div>
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$55.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$76.00 </span>&nbsp;

                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Xancetta bresao ">
                    <img src="image/catalog/demo/product/80/2.jpg" alt="Xancetta bresao">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Xancetta bresao">
                    Xancetta bresao
                  </a>
                </div>
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$80.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$89.00 </span>&nbsp;


                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Sausage cowbee ">
                    <img src="image/catalog/demo/product/80/3.jpg" alt="Sausage cowbee">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Sausage cowbee">
                    Sausage cowbee
                  </a>
                </div>
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div>

                <div class="content_price price">
                                                <span class="price product-price">
                                                                $66.00
                                                            </span>
                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Chicken swinesha ">
                    <img src="image/catalog/demo/product/80/4.jpg" alt="Chicken swinesha">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Chicken swinesha">
                    Chicken swinesha
                  </a>
                </div>
                <div class="rating">
                                                <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                                </span>
                  <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                                </span>
                  <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                                </span>
                  <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                                </span>
                  <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                                </span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$45.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$56.00 </span>&nbsp;


                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
          </div>
          <div class="item ">
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Qeserunt shortloin ">
                    <img src="image/catalog/demo/product/80/5.jpg" alt="Qeserunt shortloin">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Qeserunt shortloin">
                    Qeserunt shortloin
                  </a>
                </div>
                <div class="rating">
                                                <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                  <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                  <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                  <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                  <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                </div>
                <div class="content_price price">
                                                <span class="price product-price">
                                            $88.00
                                        </span>
                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Consecte quichuck ">
                    <img src="image/catalog/demo/product/80/6.jpg" alt="Consecte quichuck">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Consecte quichuck">
                    Consecte quichuck
                  </a>
                </div>
                <div class="rating">
                                                <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i>
                                        </span>
                  <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i>
                                        </span>
                  <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i>
                                        </span>
                  <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i>
                                        </span>
                  <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i>
                                        </span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$55.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$61.00 </span>&nbsp;


                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Neatball bresaola ">
                    <img src="image/catalog/demo/product/80/7.jpg" alt="Neatball bresaola">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Neatball bresaola">
                    Neatball bresaola
                  </a>
                </div>
                <div class="rating">
                                                <span class="fa fa-stack">
                                                <i class="fa fa-star fa-stack-2x"></i>
                                            </span>
                  <span class="fa fa-stack">
                                                <i class="fa fa-star fa-stack-2x"></i>
                                            </span>
                  <span class="fa fa-stack">
                                                <i class="fa fa-star fa-stack-2x"></i>
                                            </span>
                  <span class="fa fa-stack">
                                                <i class="fa fa-star fa-stack-2x"></i>
                                            </span>
                  <span class="fa fa-stack">
                                                <i class="fa fa-star fa-stack-2x"></i>
                                            </span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$65.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$71.00 </span>&nbsp;


                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Yutculpa ullamco ">
                    <img src="image/catalog/demo/product/80/8.jpg" alt="Yutculpa ullamco">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Yutculpa ullamco">
                    Yutculpa ullamco
                  </a>
                </div>
                <div class="rating">
                                                <span class="fa fa-stack">
                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                </span>
                  <span class="fa fa-stack">
                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                </span>
                  <span class="fa fa-stack">
                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                </span>
                  <span class="fa fa-stack">
                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                </span>
                  <span class="fa fa-stack">
                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                </span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$60.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$77.00 </span>&nbsp;


                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
          </div>
        </div>
        <!--End extraslider-inner -->
      </div>
    </div>
  </div>

  <div class="module">
    <ul class="block-infos">
      <li class="info1">
        <div class="inner">
          <i class="fa fa-file-text-o"></i>
          <div class="info-cont">
            <a href="#">free delivery</a>
            <p>On order over $49.86</p>
          </div>
        </div>
      </li>
      <li class="info2">
        <div class="inner">
          <i class="fa fa-shield"></i>
          <div class="info-cont">
            <a href="#">order protecttion</a>
            <p>secured information</p>
          </div>
        </div>
      </li>
      <li class="info3">
        <div class="inner">
          <i class="fa fa-gift"></i>
          <div class="info-cont">
            <a href="#">promotion gift</a>
            <p>special offers!</p>
          </div>
        </div>
      </li>
      <li class="info4">
        <div class="inner">
          <i class="fa fa-money"></i>
          <div class="info-cont">
            <a href="#">money back</a>
            <p>return over 30 days</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="module">
    <div class="banners banners4">
      <div class="banner">
        <a href="#"><img src="image/catalog/banners/banner5.jpg" alt="image"></a>
      </div>
    </div>
  </div>


  <div class="module blog-sidebar">
    <h3 class="modtitle"><span>Latest Blogs</span></h3>
    <div class="modcontent clearfix">

      <div id="so_latest_blog_103_1728994661514993652" class="so-blog-external buttom-type1 button-type1">

        <div class="yt-content-slider blog-external" data-autoplay="no" data-autoheight="no" data-delay="4"
             data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1" data-items_column2="1"
             data-items_column3="1" data-items_column4="1" data-arrows="no"
             data-pagination="yes" data-lazyload="yes" data-loop="yes" data-buttonpage="top">
          <div class="media">
            <div class="item head-button">
              <div class="media-left so-block">
                <a href="#" target="_self">
                  <img src="image/catalog/blog/2.jpg" alt="Duis autem vel eum irure sed diam nonumy">
                </a>
              </div>
              <div class="media-body">
                <div class="media-content so-block">

                  <h4 class="media-heading font-title head-item">
                    <a href="#" title="Duis autem vel eum irure sed diam nonumy" target="_self">Duis autem vel eum
                      irure sed diam nonumy</a>
                  </h4>

                  <div class="media-date-added">
                    <i class="fa fa-calendar"></i><span class="media-date-added"> December 4th, 2017</span>
                  </div>

                  <div class="media-subcontent">
                    <span class="media-comment"><i class="fa fa-comments"></i> 0  Comment</span>
                  </div>


                </div>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="item head-button">
              <div class="media-left so-block">
                <a href="#" target="_self">
                  <img src="image/catalog/blog/4.jpg" alt="Duis autem vel eum irure sed diam nonumy">
                </a>
              </div>
              <div class="media-body">
                <div class="media-content so-block">

                  <h4 class="media-heading font-title head-item">
                    <a href="#" title="Biten demons lector in henderit in vulp" target="_self">Biten demons lector
                      in henderit in vulp</a>
                  </h4>

                  <div class="media-date-added">
                    <i class="fa fa-calendar"></i><span class="media-date-added"> December 4th, 2017</span>
                  </div>

                  <div class="media-subcontent">
                    <span class="media-comment"><i class="fa fa-comments"></i> 0  Comment</span>
                  </div>


                </div>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="item head-button">
              <div class="media-left so-block">
                <a href="#" target="_self">
                  <img src="image/catalog/blog/1.jpg" alt="Duis autem vel eum irure sed diam nonumy">
                </a>
              </div>
              <div class="media-body">
                <div class="media-content so-block">

                  <h4 class="media-heading font-title head-item">
                    <a href="#" title="Commodo laoreet semper tincidun  sit" target="_self">Commodo laoreet semper
                      tincidun sit</a>
                  </h4>

                  <div class="media-date-added">
                    <i class="fa fa-calendar"></i><span class="media-date-added"> December 4th, 2017</span>
                  </div>

                  <div class="media-subcontent">
                    <span class="media-comment"><i class="fa fa-comments"></i> 0  Comment</span>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="module product-simple">
    <h3 class="modtitle">
      <span>Top Rated</span>
    </h3>
    <div class="modcontent">
      <div id="so_extra_slider_2" class="extraslider">
        <!-- Begin extraslider-inner -->
        <div class="yt-content-slider extraslider-inner" data-rtl="yes" data-pagination="yes" data-autoplay="no"
             data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
             data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="no"
             data-lazyload="yes" data-loop="no" data-buttonpage="top">
          <div class="item ">
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Mandouille short ">
                    <img src="image/catalog/demo/product/80/8.jpg" alt="Mandouille short">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Mandouille short">Mandouille short </a>
                </div>
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$55.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$76.00 </span>&nbsp;

                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Xancetta bresao ">
                    <img src="image/catalog/demo/product/80/7.jpg" alt="Xancetta bresao">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Xancetta bresao">
                    Xancetta bresao
                  </a>
                </div>
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$80.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$89.00 </span>&nbsp;


                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Sausage cowbee ">
                    <img src="image/catalog/demo/product/80/6.jpg" alt="Sausage cowbee">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Sausage cowbee">
                    Sausage cowbee
                  </a>
                </div>
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                </div>

                <div class="content_price price">
                                                <span class="price product-price">
                                                                $66.00
                                                            </span>
                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Chicken swinesha ">
                    <img src="image/catalog/demo/product/80/5.jpg" alt="Chicken swinesha">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Chicken swinesha">
                    Chicken swinesha
                  </a>
                </div>
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$45.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$56.00 </span>&nbsp;


                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
          </div>
          <div class="item ">
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Qeserunt shortloin ">
                    <img src="image/catalog/demo/product/80/4.jpg" alt="Qeserunt shortloin">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Qeserunt shortloin">
                    Qeserunt shortloin
                  </a>
                </div>
                <div class="rating">
                                                <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                  <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                  <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                  <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                  <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                </div>
                <div class="content_price price">
                                                <span class="price product-price">
                                            $88.00
                                        </span>
                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Consecte quichuck ">
                    <img src="image/catalog/demo/product/80/3.jpg" alt="Consecte quichuck">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Consecte quichuck">
                    Consecte quichuck
                  </a>
                </div>
                <div class="rating">
                                                <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i>
                                        </span>
                  <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i>
                                        </span>
                  <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i>
                                        </span>
                  <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i>
                                        </span>
                  <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i>
                                        </span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$55.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$61.00 </span>&nbsp;


                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Neatball bresaola ">
                    <img src="image/catalog/demo/product/80/2.jpg" alt="Neatball bresaola">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Neatball bresaola">
                    Neatball bresaola
                  </a>
                </div>
                <div class="rating">
                                                <span class="fa fa-stack">
                                                <i class="fa fa-star fa-stack-2x"></i>
                                            </span>
                  <span class="fa fa-stack">
                                                <i class="fa fa-star fa-stack-2x"></i>
                                            </span>
                  <span class="fa fa-stack">
                                                <i class="fa fa-star fa-stack-2x"></i>
                                            </span>
                  <span class="fa fa-stack">
                                                <i class="fa fa-star fa-stack-2x"></i>
                                            </span>
                  <span class="fa fa-stack">
                                                <i class="fa fa-star fa-stack-2x"></i>
                                            </span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$65.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$71.00 </span>&nbsp;


                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
            <div class="product-layout item-inner style1 ">
              <div class="item-image">
                <div class="item-img-info">
                  <a href="#" target="_self" title="Yutculpa ullamco ">
                    <img src="image/catalog/demo/product/80/1.jpg" alt="Yutculpa ullamco">
                  </a>
                </div>

              </div>
              <div class="item-info">
                <div class="item-title">
                  <a href="#" target="_self" title="Yutculpa ullamco">
                    Yutculpa ullamco
                  </a>
                </div>
                <div class="rating">
                                                <span class="fa fa-stack">
                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                </span>
                  <span class="fa fa-stack">
                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                </span>
                  <span class="fa fa-stack">
                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                </span>
                  <span class="fa fa-stack">
                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                </span>
                  <span class="fa fa-stack">
                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                </span>
                </div>
                <div class="content_price price">
                  <span class="price-new product-price">$60.00 </span>&nbsp;&nbsp;

                  <span class="price-old">$77.00 </span>&nbsp;


                </div>
              </div>
              <!-- End item-info -->
              <!-- End item-wrap-inner -->
            </div>
            <!-- End item-wrap -->
          </div>
        </div>
        <!--End extraslider-inner -->
      </div>
    </div>
  </div>

  <div class="module">
    <div class="banners banners5">
      <div class="banner">
        <a href="#"><img src="image/catalog/banners/banner6.jpg" alt="image"></a>
      </div>
    </div>
  </div>
</div>
