<ul class="breadcrumb">
  <li><a href="#"><i class="fa fa-home"></i></a></li>
  <li><a href="#">Admin</a></li>
  <li><a href="#">Categories</a></li>
</ul>

<div class="row">
  <!--Middle Part Start-->
  <div class="col-sm-9" id="content">
    <div class="block full">
      <div class="block-title">
        <button class="btn btn-success" (click)="categoryForm(categoryFormTemplate)">Add Category</button>
      </div>
      <div class="block-content table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Status</th>
            <th class="text-left"><i class="fa fa-bolt"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cat of categories;">
            <td>{{cat.name}}</td>
            <td>{{cat.status|status}}</td>
            <td>
              <button class="btn btn-info btn-xs" (click)="categoryForm(categoryFormTemplate,cat)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger btn-xs" (click)="deleteDialog(deleteDialogTemplate,cat)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-admin-sidebar></app-admin-sidebar>
</div>
<br/>

<ng-template #categoryFormTemplate>
  <div class="modal-header mfp-close-btn-in">
    <h2 class="modal-title title">Add a category</h2>
    <button type="button" class="mfp-close" (click)="cancel()">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="form">
        <div class="form-group col-md-12">
          <label class="col-md-4" for="parent">Parent</label>
          <div class="col-md-8">
            <select id="parent" class="form-control" formControlName="parent">
              <option value="">--none--</option>
              <option [ngValue]="cat._id" *ngFor="let cat of categories">
                {{cat.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="col-md-4 control-label" for="name">Name</label>
          <div class="col-md-8">
            <input id="name" class="form-control" formControlName="name" placeholder="Enter name"/>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="col-md-4 control-label" for="name">Description</label>
          <div class="col-md-8">
            <textarea id="description" class="form-control" formControlName="description"
                      placeholder="Enter description"></textarea>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="col-md-4 control-label">Image</label>
          <div class="col-md-8">
            <aws-upload [multiple]="false" folder="categories" (onupload)="fileUploaded($event)"></aws-upload>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="col-md-4 control-label">Status</label>
          <div class="col-md-8">
            <select name="status" class="form-control" id="status" formControlName="status">
              <option value="" disabled>--select status--</option>
              <option [ngValue]="1">Enabled</option>
              <option [ngValue]="0">Disabled</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="col-md-4 control-label">Attributes</label>
          <div class="col-md-8">
            <button class="btn btn-xs btn-success" (click)="addAttribute()">
              <i class="fa fa-plus" [tooltip]="'Add an attribute'"></i>
            </button>
          </div>
        </div>
        <ng-container formArrayName="attributes">
          <ng-container *ngFor="let attr of form.controls.attributes.controls;let i = index;">
            <div class="form-group col-md-12" formGroupName="{{i}}">
              <div class="col-md-8 col-md-offset-4">
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="name" placeholder="Enter attribute name"/>
                  <span class="input-group-addon">
                    <button class="btn btn-xs btn-danger" (click)="removeAttribute(i)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="saveCategory()">save</button>
    <button class="btn btn-danger" (click)="cancel()">cancel</button>
  </div>
</ng-template>

<ng-template #deleteDialogTemplate>
  <div class="modal-header">
    <h3 class="title">Delete confirmation</h3>
  </div>
  <div class="modal-body">
    <h3>Are you sure you want to delete this category?</h3>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="confirmDelete()">Yes</button>
    <button class="btn btn-danger" (click)="cancel()">No</button>
  </div>
</ng-template>
